body {
    font-size: 20px;
    font-weight: Arial, sans-serif;
    color:black;
    background-color: white;
    text-align: center;
    margin: auto;
}

#logo {
    width: 200px;
    height: 200px;
    border: 8px solid transparen;
    float: right;
}


#button {
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(3, 3, 3);
    color: white;
    border: 8px solid transparen;
    border-radius: 20px;
    width: 120px;
    height: 80px;
    display: block;
    margin: auto;
}
h1 {
    margin: 50px auto auto 150px;
}

h2 {
    
    margin: 50px auto auto auto;
}


nav#op{
    background-color: brown;
    width: 500px;
    margin:auto;
    padding: 10px 20px 20px;
    border-radius: 20px;
    

}


ul{
    list-style-type:none;
    line-height: 1.5;
    text-align: center;
}

footer {
    text-align: left;
    margin: auto;
}