body {
    font-size: 20px;
    font-weight: Arial, sans-serif;
    color: black;
    background-color:rgba(237, 241, 243, 0.418);
    font-style:italic;

}
h1 {
    text-align: center;
    color: brown; 
}
form{
    background-color:brown;
    margin-left: 20px;
    float:left;
    padding: 10px 40px 10px 40px;
    width: 500px;
    border-radius: 20px;

}

h2 {
    text-align: center;
    color: brown;
}

#button {
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(3, 3, 3);
    color: white;
    border: 8px solid transparen;
    border-radius: 20px;
    width: 120px;
    height: 80px;
    display: block;
    margin: auto;
    transition-duration: .5s;
}

#button:hover {
    background: white;
    border:8px solid transparen;
    color: black;
    cursor: pointer;
}

#result {
    visibility: hidden;
    width: 500px;
    background: brown;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 800px;
    text-align: center;
    
    
}
#gif {
    visibility: hidden;
    width: 375px;
    height: 245px;
    border-radius: 20px; 
}


footer {
    text-align: left;
    color: brown;
    margin-top: 1100px;
}