body {
    font-size: 20px;
    font-weight: Arial, sans-serif;
    color: black;
    background-color:rgba(237, 241, 243, 0.418);
    font-style:italic;
    vertical-align: baseline;


}

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

h1 {
    text-align: center;
    color: brown; 
}
form{
    background-color:brown;
    padding: 10px 40px 10px 40px;
    width: 500px;
    border-radius: 20px;
    text-align:justify;
    display: block;
    margin: 110px auto auto auto;

}
 #quiz1, #quiz2, #quiz3, #quiz4, #quiz5  {
    visibility: hidden
    
    
  }

.quiz-window{
    color: black;
    padding: 40px 30px 40px 30px;
  }

h2 {
    text-align: center;
    color: brown;
}

h3 {
    text-align: center;
    
}
#button {
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(3, 3, 3);
    color: white;
    border: 8px solid transparen;
    border-radius: 20px;
    width: 120px;
    height: 80px;
    display: block;
    margin: auto;
    transition-duration: .5s;
}

#button:hover {
    background: white;
    border:8px solid transparen;
    color: black;
    cursor: pointer;
}

#button1 {
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(3, 3, 3);
    color: white;
    border: 8px solid transparen;
    border-radius: 20px;
    width: 120px;
    height: 80px;
    display: block;
    margin: 300px auto auto auto;
    text-align: center;
    transition-duration: .5s;
}

#button1:hover {
    background: white;
    border:8px solid transparen;
    color: black;
    cursor: pointer;
}


#result {
    visibility: hidden;
    width: 500px;
    height:500px;
    background: brown;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    margin: 50px auto auto auto;
    text-align: center;
    
    
}
#gif {
    margin: auto;
    width: 375px;
    height: 245px;
    border-radius: 20px; 
}


footer {
    text-align: left;
    color: brown;
    margin-top: 1100px;
}